table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 18px;
    width: 50%;
  }
  
  td, th {
    width: 20%;
  }

  .mat-column-select {
    overflow: initial;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  